<<<<<<< HEAD
form.payment-form {
	margin: 60px auto 0;
	max-width: 400px;
}
=======

form.payment-form {
    margin: 60px auto 0;
    max-width: 400px;
}
>>>>>>> 0185803b3109c0c839bfdeecb21dcc88507afbd1
