.register-form {
<<<<<<< HEAD
	width: 450px;
	margin-left: auto !important;
	margin-right: auto !important;
}
=======
    width: 450px;
    margin-left: auto !important;
    margin-right: auto !important;
}
>>>>>>> 0185803b3109c0c839bfdeecb21dcc88507afbd1
